nav {
  top: 0;
  height: 105px;
  border-bottom: 1px solid #EBEBEB;
}

em {
  font-weight: bold;
  font-style: normal;
}

h3 {
  line-height: 1.3;
  font-size: 20px;
  font-weight: normal;
}

.hbContainer {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 8px;
  padding-bottom: 10px;
  background-color: white;
  z-index: 100;
}

.sticky {
  position: fixed;
  border-bottom: 1px solid #EBEBEB;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  min-width: 980px;
}

.hbl {
  display: flex;
  align-items: center;
  margin: 0 auto;
  margin-left: 133px;
  padding-left: 27px;
}

.hblLogo {
  position: absolute;
  top: 12px;
  left: -154px;
  padding: 4px 28px 0 30px;
}

.searchBar {
  margin-top: 8px;
  width: 664px;
}

.searchBarIconContainer {
  display: flex;
  cursor: pointer;
}

.searchBarDivider {
  position: relative;
  height: 30px;
  border-left: 1px solid #DFE1E5;
  padding-right: 5px;
  bottom: 2px;
}

.searchBarIcon span {
  color: #1A73E8;
}

.searchBarClear {
  margin-right: 12px;
}

.hbr {
  margin-top: 6px;
  margin-right: 4px;
}

.hbu {
  position: relative;
  display: flex;
  top: 48px;
  margin-top: 12px;
  padding-left: 165px;
}

.hbul {
  color: #000;
  opacity: 0.75;
}

.hbur {
  padding-left: 59px;
}

.hbur a:hover {
  text-decoration: none;
}

.hbul ul, .hbur ul {
  display: flex;
  list-style: none;
}

.hbul li, .hbur li {
  display: flex;
  align-items: center;
  margin: 11px 1px 0;
  padding: 16px 12px 12px 10px;
  height: 16px;
  line-height: 16px;
}

.hbur li {
  margin-left: 0;
  padding-left: 0;
}

.hbulLi .material-icons-outlined {
  position: relative;
  top: -1px;
  padding-right: 5px;
  font-size: 18px;
}

.hbulLi:hover {
  cursor: pointer;
}

.hbulLiActive {
  border-bottom: 3px solid #1A73E8;
  color: #1A73E8;
}

main {
  display: block;
  max-width: 1280px;
  margin-left: 180px;
  z-index: 1;
}

.mainReturns {
  top: 0;
  height: 43px;
  line-height: 43px;
  color: #70757A;
}

.mainContainer {
  max-width: 1280px;
  width: 652px;
}

.mainResultsCard {
  position: relative;
  width: 600px;
  margin-top: 0px;
  margin-bottom: 28px;
  line-height: 1.2;
  text-align: left;
}

.mainResultsCardHeadContainer {
  line-height: 1.58;
}

.mainResultsCardHeadIcon {
  position: absolute;
  top: 0;
  display: inline-block;
  line-height: 1.3;
}

.mainResultsCard a {
  display: inline-block;
  text-decoration: none;
}

.mainResultsCardHead h3 {
  margin-bottom: 3px;
  padding-top: 4px;
  color: #1A0DAB;
}

.mainResultsCardHead h3:hover {
  text-decoration: underline;
}

.mainResultsCardHead cite {
  line-height: 1.3;
  font-style: normal;
  color: #202124;
}

.mainResultsCardHead span {
  color: #5F6368;
}

.mainResultsBody {
  line-height: 1.58;
  color: #4D5156;
}

.mainResultsBody span {
  color: #70757A;
}

.mainVideoContainer {
  width: 652px;
}

.mainVideoContainer h3 {
  padding-bottom: 12px;
  font-size: 20px;
  line-height: 1.3;
  font-weight: normal;
}

.mainVideo {
  display: flex;
  padding-bottom: 40px;
}

.mainVideoCard {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  margin-right: 8px;
  width: 212px;
  border: 1px solid #DFE1E5;
  border-radius: 8px;
  box-shadow: none;
}

.mainVideoCardHead iframe {
  object-fit: contain;
  width: 100%;
}

.mainVideoCardBody {
  display: -webkit-box;
  padding: 16px 16px 0 16px;
  height: 6.875em;
  -webkit-line-clamp: 5;
  line-height: 1.375;
  font-size: 16px;
  cursor: pointer;
}

.mainVideoCard a {
  text-decoration: none;
  color: #1A0DAB;
}

.mainVideoCard a:hover {
  text-decoration: underline;
}

.mainVideoCardFooter {
  line-height: 1.58;
  padding: 0 16px 16px 16px;
  color: #808080;
  cursor: default;
}

.mainVideoCardFooter cite {
  display: block;
  font-style: normal;
}

.mainVideoCardFooterBottom span {
  color: #202124;
}

.mainAlsoSearchContainer {
  width: 652px;
}

.mainAlsoSearch {
  margin-bottom: 16px;
}

.mainAlsoSearch h3 {
  margin-bottom: 16px;
}

.mainAlsoSearchCard {
  width: 100%;
  border: 1px solid #DFE1E5;
  border-radius: 8px;
}

.mainAlsoSearchHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  min-height: 40px;
}

.mainAlsoSearchHeader p {
  font-size: 16px;
  line-height: 1.3;
}

.mainAlsoSearchHeader span {
  cursor: pointer;
}

.mainAlsoSearchBody {
  display: flex;
  flex-wrap: nowrap;
  margin: 0 16px 16px 16px;
}

.mainAlsoSearchBody a {
  text-decoration: none;
  color: inherit;
}

.mainAlsoSearchBodyCard {
  overflow: hidden;
  margin-right: 6px;
  height: 100%;
  width: 96px;
  border: 1px solid #DFE1E5;
  border-radius: 8px;
}

.mainAlsoSearchBodyCardImg {
  margin-bottom: 8px;
  object-fit: fill;
}

.mainAlsoSearchBodyCardTitle {
  margin: 0 8px;
  padding-bottom: 8px;
  line-height: 19px;
}

.mainAlsoSearchFooter {
  display: flex;
  justify-content: center;
  margin-bottom: 16px;
}

.mainAlsoSearchFooter a {
  text-decoration: none;
  color: #1A0DAB;
}

.mainAlsoSearchFooterInput {
  position: relative;
  box-sizing: border-box;
  height: 36px;
  width: 300px;
  padding: 7px 11px;
  border: 1px solid #DFE1E5;
  border-radius: 18px;
  line-height: 20px;
  text-align: center;
  cursor: pointer;
}

.mainAlsoSearchFooterInput:hover {
  background: #FAFAFA;
}

.searchFooterIcon {
  position: absolute;
  left: 12px;
  top: 5px;
  color: #1A0DAB;
}

.mainRelatedContainer {
  width: 652px;
}

.mainRelated {
  margin-bottom: 28px;
}

.mainRelated h3 {
  padding-bottom: 20px;
  color: #222;
}

.mainRelatedResults {
  max-width: 100%;
  line-height: 24px;
  font-size: 16px;
}

.mainRelatedResults a {
  display: inline-block;
  padding: 3px 32px 3px 0;
  text-decoration: none;
  color: #1A0DAB;
}

.mainRelatedResults span {
  display: inline-block;
  vertical-align: middle;
  padding-right: 8px;
  font-size: 22px;
  color: #1A0DAB;
}

.mainRelatedResults a:hover {
  text-decoration: underline;
}

.mainSeekBarContainer {
  display: flex;
  justify-content: center;
  width: 652px;
  margin-bottom: 6px;
}

.mainSeekBarContainer table {
  border-collapse: collapse;
}

.mainSeekBarContainer td {
  padding: 0;
  text-align: center;
}

.mainSeekBarContainer span {
  display: block;
  height: 40px;
  text-decoration: none;
}

.mainSeekBarContainer a {
  text-decoration: none;
  color: #4285F4;
}

.mainSeekBarContainer a:hover {
  text-decoration: underline;
}

.mainSeekBarG {
  background: url(../images/seekbar.webp) no-repeat;
  background-position: -24px 0;
  width: 28px;
}

.mainSeekBarORed {
  background: url(../images/seekbar.webp) no-repeat;
  background-position: -53px 0;
  width: 20px;
}

.mainSeekBarOYellow {
  background: url(../images/seekbar.webp) no-repeat;
  background-position: -74px 0;
  width: 20px;
  cursor: pointer;
}

.mainSeekBarNext {
  background: url(../images/seekbar.webp) no-repeat;
  background-position: -96px 0;
  width: 71px;
  cursor: pointer;
}

.mainSeekBarNextFooter {
  margin-left: 53px;
}

footer {
  position: relative;
}

.fbt {
  padding-left: 180px;
  white-space: nowrap;
}

.fbt a {
  padding-left: 0;
}

.fbt em {
  color: #222;
}

.fbtr {
  display: inline-block;
  line-height: 15px;
  font-size: 14px;
  margin-left: 13px;
  padding-left: 16px;
  white-space: nowrap;
  border-left: 1px solid #E4E4E4;
  color: #5f6368;
}

.fbt .material-icons {
  margin: 4px 4px 5px 0;
  vertical-align: middle;
  font-size: 18px;
  padding-right: 4px;
}

.fbl {
  padding-left: 153px;
}
