* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: arial;
}

nav {
  position: fixed;
  top: 16px;
  width: 100%;
  font-size: 13px;
}

.hbl {
  position: absolute;
  top: 0;
  left: 0;
  margin: 7px 0 0 10px;
}

.hbl a {
  padding-left: 15px;
  text-decoration: none;
  color: #000;
  opacity: 0.75;
}

.hbl a:hover {
  text-decoration: underline;
}

.hbr {
  margin: 7px 10px 0 0;
  padding: 0 30px 0 30px;
}

.hbr ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.hbr li {
  padding-left: 15px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main_logo {
  padding-top: 156px;
}

.main_searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  margin: 0 auto;
  width: 560px;
  height: 39px;
  padding: 5px 10px 0px 14px;
  margin-top: 20px;
}

.material-icons {
  color: rgba(0, 0, 0, 0.4);
}

.main_searchBarInput input {
  border: none;
  margin: 0;
  padding: 0;
  outline: none;
  width: 500px;
  padding-left: 10px;
  padding-bottom: 5px;
}

.main_buttons {
  padding-top: 18px;
}

.main_buttons button {
  height: 36px;
  min-width: 54px;
  margin: 11px 4px;
  padding: 0 16px;
  line-height: 27px;
  background-color: #f2f2f2;
  color: #5f6368;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}

.main_buttons button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  color: #222;
}

.main_buttons button:focus {
  border: 1px solid #4d90fe;
  outline: none;
}

.main_language {
  margin-bottom: 24px;
  font-size: small;
  line-height: 28px;
}

.main_language a {
  padding: 0 3px;
  color: #1a0dab;
  text-decoration: none;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #e4e4e4;
  background: #f2f2f2;
  color: rgba(0, 0, 0, 0.54);
  line-height: 40px;
  font-size: 14px;
}

footer a {
  padding-left: 27px;
  color: #5f6368;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.fbt {
  padding-left: 27px;
  border-bottom: 1px solid #e4e4e4;
}

.fbr {
  float: right;
  margin-right: 30px;
}
